// Fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Bellota', cursive;

// Colors
$primaryColor: #1ba4ce;
$secondaryColor:#473452;

$buttonColor:#30383b;

$primaryTextColor:#888888;
$secondaryTextColor:#555;

// Container
$smallContainer: 100%;
$largeContainer: 960px;
$extraLargeContainer: 1140px;

// Mobile breakpoints

$extraSmall: 480px;
$small: 576px;
$medium: 768px;
$large: 922px;
$extraLarge: 1200px;